{% load i18n wiki_tags %}
{% with selected_tab as selected %}
    <a href="{% url 'wiki:get' article_id=article.id path=urlpath.path %}"
       class="button is-rounded{% if selected == "view" %} is-link{% endif %}">
        <span class="icon is-small">
            <i class="fa fa-home"></i>
        </span>
        <span>{% trans "View" %}</span>
    </a>
    {% if article|can_write:user and not article.current_revision.locked %}
        <a href="{% url 'wiki:edit' article_id=article.id path=urlpath.path %}"
           class="button is-rounded{% if selected == "edit" %} is-link{% endif %}">
            <span class="icon is-small">
                <i class="fa fa-edit"></i>
            </span>
            <span>{% trans "Edit" %}</span>
        </a>
    {% else %}
        <a href="{% url 'wiki:source' article_id=article.id path=urlpath.path %}"
           class="button is-rounded{% if selected == "source" %} is-link{% endif %}">
            <span class="icon is-small">
                <i class="fa fa-lock"></i>
            </span>
            <span>{% trans "View Source" %}</span>
        </a>
    {% endif %}
    <a href="{% url 'wiki:history' article_id=article.id path=urlpath.path %}"
       class="button is-rounded{% if selected == "history" %} is-link{% endif %}">
        <span class="icon is-small">
            <i class="fa fa-clock"></i>
        </span>
        <span>{% trans "Changes" %}</span>
    </a>
    {% for plugin in article_tabs %}
        <a href="{% url 'wiki:plugin' slug=plugin.slug article_id=article.id path=urlpath.path %}"
           class="button is-rounded{% if selected == plugin.slug %} is-link{% endif %}">
            <span class="icon is-small">
                <i class="{{ plugin.article_tab.1 }}"></i>
            </span>
            <span>{{ plugin.article_tab.0 }}</span>
        </a>
    {% endfor %}
    {% if not user.is_anonymous %}
        <a href="{% url 'wiki:settings' article_id=article.id path=urlpath.path %}"
           class="button is-rounded{% if selected == "settings" %} is-link{% endif %}">
            <span class="icon is-small">
                <i class="fa fa-wrench"></i>
            </span>
            <span>{% trans "Settings" %}</span>
        </a>
    {% endif %}
{% endwith %}
