{% extends "base.html" %}
{% load bulma_tags %}
{% load static %}
{% block title %}
    Password Reset - Metron
{% endblock title %}
{% block content %}
    {# Page Header #}
    <header class="block has-text-centered mt-5">
        <span class="icon is-large has-text-warning">
            <i class="fas fa-key fa-3x"></i>
        </span>
        <h1 class="title is-3 mt-4">Reset Your Password</h1>
        <p class="subtitle has-text-grey">Enter your email address and we'll send you reset instructions</p>
    </header>
    {# Reset Form #}
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div class="box">
                <form method="POST">
                    {% csrf_token %}
                    {# Email Field #}
                    <div class="field" data-field-name="email">
                        <label class="label {{ form.required_css_class }}" for="email">Email Address</label>
                        <div class="control has-icons-left">
                            {{ form.email|add_field_class:'input' }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        {% for error in form.email.errors %}<p class="help is-danger {{ form.error_css_class }}">{{ error }}</p>{% endfor %}
                        {% if form.email.help_text %}<p class="help">{{ form.email.help_text|safe }}</p>{% endif %}
                    </div>
                    {# Submit Button #}
                    <div class="field mt-5">
                        <div class="control">
                            <button class="button is-link is-fullwidth" type="submit">
                                <span class="icon">
                                    <i class="fas fa-paper-plane"></i>
                                </span>
                                <span>Send Reset Instructions</span>
                            </button>
                        </div>
                    </div>
                    {# Back to Login #}
                    <div class="field mt-4">
                        <p class="has-text-centered">
                            <a href="{% url 'login' %}" class="has-text-link">
                                <span class="icon is-small">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                                <span>Back to Login</span>
                            </a>
                        </p>
                    </div>
                </form>
            </div>
            {# Information Box #}
            <div class="notification is-info is-light">
                <p class="has-text-weight-bold mb-2">What happens next?</p>
                <ul class="content">
                    <li>We'll send an email to the address you provided</li>
                    <li>Check your inbox (and spam folder)</li>
                    <li>Follow the link in the email to reset your password</li>
                    <li>The link expires in 24 hours</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
