{% extends parent_template|default:"base.html" %}
{% load static bulma_tags %}
{% block title %}Wish List Settings - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Wish List Settings</h1>
    </header>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <form method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="notification is-danger">{{ form.non_field_errors }}</div>
                            {% endif %}
                            {% for field in form %}
                                <div class="field">
                                    {% if field|is_field_type:'checkbox' %}
                                        <div class="control">
                                            <label class="checkbox">{{ field }} {{ field.label }}</label>
                                        </div>
                                        {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
                                    {% else %}
                                        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        <div class="control">{{ field|add_field_class:'input' }}</div>
                                        {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div class="field is-grouped is-grouped-right mt-5">
                                <div class="control">
                                    <a href="{% url 'wish-list:detail' %}" class="button">Cancel</a>
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-primary">Save Settings</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
