{% extends parent_template|default:"base.html" %}
{% load i18n static %}
{% block title %}{% trans "Story Arcs - Metron" %}{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">{% trans "Story Arcs List" %}</h1>
    </header>
    {% trans "Story Arc" as list_title %}
    {% trans "Story Arcs" as list_title_plural %}
    {% trans "Find an arc" as list_search_placeholder %}
    {% trans "Issue" as issue_label %}
    {% trans "Issues" as issue_label_plural %}
    {% trans "Add a new story arc" as list_create_title %}
    {% if arc_list %}
        <section>
            {% include "comicsdb/partials/list_header.html" with title=list_title title_plural=list_title_plural count=page_obj.paginator.count search_url="arc:search" search_placeholder=list_search_placeholder create_url="arc:create" create_title=list_create_title %}
            {% include "comicsdb/partials/card_grid.html" with items=arc_list detail_url_name="arc:detail" image_ratio="is-2by3" default_image="site/img/image-not-found.webp" count_url_name="arc:issue" count_label=issue_label count_label_plural=issue_label_plural %}
        </section>
    {% else %}
        {% include "comicsdb/partials/empty_state.html" with item_type=list_title item_type_plural=list_title_plural create_url="arc:create" create_title=list_create_title %}
    {% endif %}
{% endblock %}
{% block pagination %}
    {% load pagination_tags %}
    {% include "comicsdb/partials/pagination.html" %}
{% endblock %}
