{% extends parent_template|default:"base.html" %}
{% load static %}
{% block title %}Characters - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Characters List</h1>
    </header>
    <section>
        {% include "comicsdb/partials/generic_list_content.html" with list_items=character_list list_name="character" list_title="Character" search_url="character:search" search_placeholder="Find a character" create_url="character:create" create_title="Add a new character" detail_url_name="character:detail" image_ratio="is-2by3" default_image="site/img/image-not-found.webp" count_type="issue" count_url_name="character:issue" count_label="Issue" %}
    </section>
{% endblock %}
