{% extends parent_template|default:"base.html" %}
{% load static %}
{% block title %}Creators - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Creators List</h1>
    </header>
    <section>
        {% include "comicsdb/partials/generic_list_content.html" with list_items=creator_list list_name="creator" list_title="Creator" search_url="creator:search" search_placeholder="Find a creator" create_url="creator:create" create_title="Add a new creator" detail_url_name="creator:detail" image_ratio="is-square" default_image="site/img/creator-not-found.webp" count_url_name="creator:issue" count_label="Issue" %}
    </section>
{% endblock %}
