{% extends parent_template|default:"base.html" %}
{% load i18n static %}
{% block title %}{% trans "Imprints - Metron" %}{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">{% trans "Imprints List" %}</h1>
    </header>
    {% trans "Imprint" as list_title %}
    {% trans "Imprints" as list_title_plural %}
    {% trans "Find an imprint" as list_search_placeholder %}
    {% trans "Series" as series_label %}
    {% trans "Add a new imprint" as list_create_title %}
    {% if imprint_list %}
        <section>
            {% include "comicsdb/partials/list_header.html" with title=list_title title_plural=list_title_plural count=page_obj.paginator.count search_url="imprint:search" search_placeholder=list_search_placeholder create_url="imprint:create" create_title=list_create_title %}
            {% include "comicsdb/partials/card_grid.html" with items=imprint_list detail_url_name="imprint:detail" image_ratio="is-2by3" default_image="site/img/image-not-found.webp" count_type="series" count_url_name="imprint:series" count_label=series_label count_label_plural=series_label %}
        </section>
    {% else %}
        {% include "comicsdb/partials/empty_state.html" with item_type=list_title item_type_plural=list_title_plural create_url="imprint:create" create_title=list_create_title %}
    {% endif %}
{% endblock %}
{% block pagination %}
    {% load pagination_tags %}
    {% include "comicsdb/partials/pagination.html" %}
{% endblock %}
