{% extends parent_template|default:"base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load static %}
{% block title %}
    {{ publisher.name }}
{% endblock title %}
{% block content %}
    {# Page Header #}
    <header class="block">
        <h1 class="title">{{ publisher }}</h1>
    </header>
    {# Navigation Bar #}
    <nav class="level mb-5" aria-label="Publisher navigation">
        <div class="level-left">
            {% if navigation.previous_publisher %}
                <a class="button is-rounded is-link"
                   href="{% url 'publisher:detail' navigation.previous_publisher.slug %}"
                   aria-label="Go to {{ navigation.previous_publisher }}">
                    <span class="icon is-small"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                    <span>Previous Publisher</span>
                </a>
            {% else %}
                <button class="button is-rounded" disabled aria-disabled="true">
                    <span class="icon is-small"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                    <span>Previous Publisher</span>
                </button>
            {% endif %}
            {% if navigation.next_publisher %}
                <a class="button is-rounded is-link ml-2"
                   href="{% url 'publisher:detail' navigation.next_publisher.slug %}"
                   aria-label="Go to {{ navigation.next_publisher }}">
                    <span>Next Publisher</span>
                    <span class="icon is-small"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                </a>
            {% else %}
                <button class="button is-rounded ml-2" disabled aria-disabled="true">
                    <span>Next Publisher</span>
                    <span class="icon is-small"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                </button>
            {% endif %}
        </div>
        <div class="level-right">
            <div class="buttons">
                <a class="button is-rounded is-link"
                   href="{% url 'publisher:series' publisher.slug %}"
                   title="View series list for this publisher">
                    <span class="icon is-small"><i class="fas fa-list" aria-hidden="true"></i></span>
                    <span>Series List</span>
                </a>
                {% if user.is_authenticated %}
                    <a class="button is-rounded is-primary"
                       href="{% url 'publisher:create' %}"
                       title="Add a new publisher">
                        <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
                        <span>New</span>
                    </a>
                    <a class="button is-rounded is-info"
                       href="{% url 'publisher:update' publisher.slug %}"
                       title="Edit this publisher">
                        <span class="icon is-small"><i class="fas fa-edit" aria-hidden="true"></i></span>
                        <span>Edit</span>
                    </a>
                    {% if perms.comicsdb.delete_publisher %}
                        <a class="button is-rounded is-danger"
                           href="{% url 'publisher:delete' publisher.slug %}"
                           title="Delete this publisher">
                            <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
                            <span>Delete</span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>
    {# Main Content #}
    <div class="columns">
        {# Publisher Logo #}
        <div class="column is-one-fifth">
            <div class="box">
                <figure class="image is-2by3">
                    {% if publisher.image %}
                        {% thumbnail publisher.image "320x480" crop="center" format="WEBP" as im %}
                            <img src="{{ im.url }}"
                                 width="{{ im.width }}"
                                 height="{{ im.height }}"
                                 alt="{{ publisher.name }}"
                                 loading="lazy">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'site/img/image-not-found.webp' %}"
                             alt="No image for {{ publisher.name }}"
                             loading="lazy">
                    {% endif %}
                </figure>
            </div>
        </div>
        {# Publisher Information #}
        <div class="column">
            {# Summary #}
            <div class="box">
                <h2 class="title is-5">Summary</h2>
                {% if publisher.desc %}
                    <div class="content">{{ publisher.desc|linebreaksbr }}</div>
                {% else %}
                    <p class="has-text-grey">No information available.</p>
                {% endif %}
                <footer class="content is-small is-italic mt-4">
                    Last edited on <time datetime="{{ publisher.modified|date:'c' }}">{{ publisher.modified }}</time> by
                    <a href="{% url 'user-detail' publisher.edited_by.id %}">{{ publisher.edited_by.username }}</a>
                </footer>
            </div>
            {# Imprints #}
            {% with imprints=publisher.imprints.all %}
                {% if imprints %}
                    <div class="box">
                        <h2 class="title is-5">Imprint{{ imprints|pluralize }} ({{ imprints.count }})</h2>
                        <div class="columns is-multiline">
                            {% for imprint in imprints %}
                                <div class="column is-4">
                                    <article class="media">
                                        <figure class="media-left">
                                            <div class="image is-64x64">
                                                {% if imprint.image %}
                                                    {% thumbnail imprint.image "64x64" crop="top" format="WEBP" as im %}
                                                        <img class="is-rounded"
                                                             src="{{ im.url }}"
                                                             width="{{ im.width }}"
                                                             height="{{ im.height }}"
                                                             alt="{{ imprint.name }}"
                                                             loading="lazy">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img class="is-rounded"
                                                         src="{% static 'site/img/creator-not-found.webp' %}"
                                                         alt="No image for {{ imprint.name }}"
                                                         loading="lazy">
                                                {% endif %}
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <a href="{% url 'imprint:detail' imprint.slug %}">{{ imprint.name }}</a>
                                                    <br>
                                                    <small class="has-text-grey-dark">{{ imprint.series_count|intcomma }} series</small>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {# Universes #}
            {% with universes=publisher.universes.all %}
                {% if universes %}
                    <div class="box">
                        <h2 class="title is-5">Universe{{ universes|pluralize }} ({{ universes.count }})</h2>
                        <div class="columns is-multiline">
                            {% for universe in universes %}
                                <div class="column is-4">
                                    <article class="media">
                                        <figure class="media-left">
                                            <div class="image is-64x64">
                                                {% if universe.image %}
                                                    {% thumbnail universe.image "64x64" crop="top" format="WEBP" as im %}
                                                        <img class="is-rounded"
                                                             src="{{ im.url }}"
                                                             width="{{ im.width }}"
                                                             height="{{ im.height }}"
                                                             alt="{{ universe.name }}"
                                                             loading="lazy">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img class="is-rounded"
                                                         src="{% static 'site/img/creator-not-found.webp' %}"
                                                         alt="No image for {{ universe.name }}"
                                                         loading="lazy">
                                                {% endif %}
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <a href="{% url 'universe:detail' universe.slug %}">{{ universe.name }}</a>
                                                    <br>
                                                    <small class="has-text-grey-dark">{{ universe.issue_count|intcomma }} issue{{ universe.issue_count|pluralize }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {# Attribution #}
            {% with attribution=publisher.attribution.all %}
                {% if attribution %}
                    {% include "comicsdb/attribution.html" with object=attribution %}
                {% endif %}
            {% endwith %}
        </div>
        {# Metadata Sidebar #}
        <div class="column is-one-fifth">
            <div class="box">
                <h2 class="title is-6">Publisher Details</h2>
                <dl>
                    {% if publisher.founded %}
                        <dt class="has-text-weight-bold">Founded:</dt>
                        <dd class="mb-3">
                            {{ publisher.founded }}
                        </dd>
                    {% endif %}
                    <dt class="has-text-weight-bold">Country:</dt>
                    <dd class="mb-3">
                        {{ publisher.country.name }}
                    </dd>
                    {% if publisher.series_count > 0 %}
                        <dt class="has-text-weight-bold">Number of Series:</dt>
                        <dd class="mb-3">
                            {{ publisher.series_count|intcomma }}
                        </dd>
                    {% endif %}
                </dl>
                {# IDs #}
                <h3 class="title is-6 mt-4">Identification Numbers</h3>
                <dl>
                    <dt class="has-text-weight-bold">Metron:</dt>
                    <dd class="mb-2">
                        {{ publisher.id }}
                    </dd>
                    {% if publisher.cv_id %}
                        <dt class="has-text-weight-bold">Comic Vine:</dt>
                        <dd class="mb-2">
                            {{ publisher.cv_id }}
                        </dd>
                    {% endif %}
                    {% if publisher.gcd_id %}
                        <dt class="has-text-weight-bold">GCD:</dt>
                        <dd>
                            {{ publisher.gcd_id }}
                        </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
