{% extends parent_template|default:"base.html" %}
{% load static %}
{% block title %}Publishers - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Publishers List</h1>
    </header>
    <section>
        {% include "comicsdb/partials/generic_list_content.html" with list_items=publisher_list list_name="publisher" list_title="Publisher" search_url="publisher:search" search_placeholder="Find a publisher" create_url="publisher:create" create_title="Add a new publisher" detail_url_name="publisher:detail" image_ratio="is-2by3" default_image="site/img/image-not-found.webp" count_type="series" count_url_name="publisher:series" count_label="Series" %}
    </section>
{% endblock %}
