{% extends parent_template|default:"base.html" %}
{% load static %}
{% block title %}Publishers - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Publishers List</h1>
    </header>
    {% if publisher_list %}
        <section>
            {% include "comicsdb/partials/list_header.html" with title="Publisher" count=page_obj.paginator.count search_url="publisher:search" search_placeholder="Find a publisher" create_url="publisher:create" create_title="Add a new publisher" %}
            {% include "comicsdb/partials/card_grid.html" with items=publisher_list detail_url_name="publisher:detail" image_ratio="is-2by3" default_image="site/img/image-not-found.webp" count_url_name="publisher:series" count_label="Series" %}
        </section>
    {% else %}
        {% include "comicsdb/partials/empty_state.html" with item_type="Publisher" create_url="publisher:create" create_title="Add a new publisher" %}
    {% endif %}
{% endblock %}
{% block pagination %}
    {% load pagination_tags %}
    {% include "comicsdb/partials/pagination.html" %}
{% endblock %}
