{% extends parent_template|default:"base.html" %}
{% load static %}
{% block title %}Teams - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Teams List</h1>
    </header>
    <section>
        {% include "comicsdb/partials/generic_list_content.html" with list_items=team_list list_name="team" list_title="Team" search_url="team:search" search_placeholder="Find a team" create_url="team:create" create_title="Add a new team" detail_url_name="team:detail" image_ratio="is-2by3" default_image="site/img/image-not-found.webp" count_url_name="team:issue" count_label="Issue" %}
    </section>
{% endblock %}
