{% extends parent_template|default:"base.html" %}
{% load thumbnail %}
{% load static %}
{% load humanize %}
{% block title %}
    {{ universe.name }}
{% endblock title %}
{% block content %}
    {# Page Header #}
    <header class="block">
        <h1 class="title">{{ universe }}</h1>
    </header>
    {# Navigation Bar #}
    <nav class="level mb-5" aria-label="Universe navigation">
        <div class="level-left">
            {% if navigation.previous_universe %}
                <a class="button is-rounded is-link"
                   href="{% url 'universe:detail' navigation.previous_universe.slug %}"
                   aria-label="Go to {{ navigation.previous_universe }}">
                    <span class="icon is-small"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                    <span>Previous Universe</span>
                </a>
            {% else %}
                <button class="button is-rounded" disabled aria-disabled="true">
                    <span class="icon is-small"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
                    <span>Previous Universe</span>
                </button>
            {% endif %}
            {% if navigation.next_universe %}
                <a class="button is-rounded is-link ml-2"
                   href="{% url 'universe:detail' navigation.next_universe.slug %}"
                   aria-label="Go to {{ navigation.next_universe }}">
                    <span>Next Universe</span>
                    <span class="icon is-small"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                </a>
            {% else %}
                <button class="button is-rounded ml-2" disabled aria-disabled="true">
                    <span>Next Universe</span>
                    <span class="icon is-small"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                </button>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class="level-right">
                <div class="buttons">
                    <a class="button is-rounded is-primary"
                       href="{% url 'universe:create' %}"
                       title="Add a new universe">
                        <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
                        <span>New</span>
                    </a>
                    <a class="button is-rounded is-info"
                       href="{% url 'universe:update' universe.slug %}"
                       title="Edit this universe">
                        <span class="icon is-small"><i class="fas fa-edit" aria-hidden="true"></i></span>
                        <span>Edit</span>
                    </a>
                    <a class="button is-rounded is-link"
                       href="{% url 'universe:history' universe.slug %}"
                       title="View edit history">
                        <span class="icon is-small"><i class="fas fa-history" aria-hidden="true"></i></span>
                        <span>History</span>
                    </a>
                    {% if perms.comicsdb.delete_universe %}
                        <a class="button is-rounded is-danger"
                           href="{% url 'universe:delete' universe.slug %}"
                           title="Delete this universe">
                            <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
                            <span>Delete</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </nav>
    {# Main Content #}
    <div class="columns">
        {# Universe Image #}
        <div class="column is-one-fifth">
            <div class="box">
                <figure class="image is-2by3">
                    {% if universe.image %}
                        {% thumbnail universe.image "320x480" crop="top" format="WEBP" as im %}
                            <img src="{{ im.url }}"
                                 width="{{ im.width }}"
                                 height="{{ im.height }}"
                                 alt="{{ universe.name }}"
                                 loading="lazy">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'site/img/image-not-found.webp' %}"
                             alt="No image for {{ universe.name }}"
                             loading="lazy">
                    {% endif %}
                </figure>
            </div>
        </div>
        {# Universe Information #}
        <div class="column">
            {# Summary #}
            <div class="box">
                <h2 class="title is-5">Summary</h2>
                {% if universe.desc %}
                    <div class="content">{{ universe.desc|linebreaksbr }}</div>
                {% else %}
                    <p class="has-text-grey">No information available.</p>
                {% endif %}
                <footer class="content is-small is-italic mt-4">
                    Last edited on <time datetime="{{ universe.modified|date:'c' }}">{{ universe.modified }}</time> by
                    <a href="{% url 'user-detail' universe.edited_by.id %}">{{ universe.edited_by.username }}</a>
                </footer>
            </div>
            {# Characters #}
            {% with characters=universe.characters.all %}
                {% if characters %}
                    <div class="box">
                        <h2 class="title is-5">Character{{ characters|pluralize }} ({{ universe.character_count }})</h2>
                        <div class="columns is-multiline">
                            {% for character in characters %}
                                <div class="column is-4">
                                    <article class="media">
                                        <figure class="media-left">
                                            <div class="image is-64x64">
                                                {% if character.image %}
                                                    {% thumbnail character.image "64x64" crop="center" format="WEBP" as im %}
                                                        <img class="is-rounded"
                                                             src="{{ im.url }}"
                                                             width="{{ im.width }}"
                                                             height="{{ im.height }}"
                                                             alt="{{ character }}"
                                                             loading="lazy">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img class="is-rounded"
                                                         src="{% static 'site/img/creator-not-found.webp' %}"
                                                         alt="No image for {{ character }}"
                                                         loading="lazy">
                                                {% endif %}
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <a href="{% url 'character:detail' character.slug %}">{{ character }}</a>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {# Teams #}
            {% with teams=universe.teams.all %}
                {% if teams %}
                    <div class="box">
                        <h2 class="title is-5">Team{{ teams|pluralize }} ({{ universe.team_count }})</h2>
                        <div class="columns is-multiline">
                            {% for team in teams %}
                                <div class="column is-4">
                                    <article class="media">
                                        <figure class="media-left">
                                            <div class="image is-64x64">
                                                {% if team.image %}
                                                    {% thumbnail team.image "64x64" crop="center" format="WEBP" as im %}
                                                        <img class="is-rounded"
                                                             src="{{ im.url }}"
                                                             width="{{ im.width }}"
                                                             height="{{ im.height }}"
                                                             alt="{{ team }}"
                                                             loading="lazy">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    <img class="is-rounded"
                                                         src="{% static 'site/img/creator-not-found.webp' %}"
                                                         alt="No image for {{ team }}"
                                                         loading="lazy">
                                                {% endif %}
                                            </div>
                                        </figure>
                                        <div class="media-content">
                                            <a href="{% url 'team:detail' team.slug %}">{{ team }}</a>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {# Series Appearances #}
            {% if appearances %}
                <div class="box">
                    <h2 class="title is-5">Series Appearances</h2>
                    <div class="content">
                        <ul>
                            {% for series in appearances %}
                                <li>
                                    <a href="{% url 'series:detail' slug=series.issues__series__slug %}">
                                        {{ series.issues__series__name }}
                                        {% if series.issues__series__series_type == 10 %}
                                            TPB
                                        {% elif series.issues__series__series_type == 9 %}
                                            GN
                                        {% elif series.issues__series__series_type == 8 %}
                                            HC
                                        {% elif series.issues__series__series_type == 12 %}
                                            Digital
                                        {% endif %}
                                        ({{ series.issues__series__year_began }})
                                    </a>:
                                    <a href="{% url 'universe:series' universe=universe.slug series=series.issues__series__slug %}">
                                        {{ series.issues__count }} issue{{ series.issues__count|pluralize }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {# Attribution #}
            {% with attribution=universe.attribution.all %}
                {% if attribution %}
                    {% include "comicsdb/attribution.html" with object=attribution %}
                {% endif %}
            {% endwith %}
        </div>
        {# Metadata Sidebar #}
        <div class="column is-one-fifth">
            <div class="box">
                <h2 class="title is-6">Universe Details</h2>
                <dl>
                    <dt class="has-text-weight-bold">Publisher:</dt>
                    <dd class="mb-3">
                        <a href="{% url 'publisher:detail' universe.publisher.slug %}">{{ universe.publisher }}</a>
                    </dd>
                    {% if universe.total_issue_count > 0 %}
                        <dt class="has-text-weight-bold">Number of Issues:</dt>
                        <dd class="mb-3">
                            {{ universe.total_issue_count|intcomma }}
                        </dd>
                        {% with first=universe.first_appearance %}
                            <dt class="has-text-weight-bold">First Appearance:</dt>
                            <dd class="mb-3">
                                <a href="{% url 'issue:detail' first.slug %}">{{ first }}</a>
                            </dd>
                        {% endwith %}
                    {% endif %}
                </dl>
                {# IDs #}
                <h3 class="title is-6 mt-4">Identification Numbers</h3>
                <dl>
                    <dt class="has-text-weight-bold">Metron:</dt>
                    <dd class="mb-2">
                        {{ universe.id }}
                    </dd>
                    {% if universe.gcd_id %}
                        <dt class="has-text-weight-bold">GCD:</dt>
                        <dd>
                            {{ universe.gcd_id }}
                        </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
