{% extends parent_template|default:"base.html" %}
{% load static %}
{% block title %}Universes - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Universes List</h1>
    </header>
    <section>
        {% include "comicsdb/partials/generic_list_content.html" with list_items=universe_list list_name="universe" list_title="Universe" search_url="universe:search" search_placeholder="Find a universe" create_url="universe:create" create_title="Add a new universe" detail_url_name="universe:detail" image_ratio="is-2by3" default_image="site/img/image-not-found.webp" count_url_name="universe:issue" count_label="Issue" %}
    </section>
{% endblock %}
