{% extends parent_template|default:"base.html" %}
{% load static bulma_tags %}
{% block title %}Add Issue to {{ reading_list.name }} - Metron{% endblock %}
{% block content %}
    <header class="block has-text-centered">
        <h1 class="title">Add Issue to Reading List</h1>
    </header>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <p class="mb-4">
                            Adding <strong>{{ issue }}</strong> to
                            <strong>{{ reading_list.name }}</strong>
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label" for="{{ form.order.id_for_label }}">Position in List (optional)</label>
                                <div class="control">{{ form.order|add_field_class:'input' }}</div>
                                <p class="help">Specify a position number, or leave empty to add at the end of the list.</p>
                                {% for error in form.order.errors %}<p class="help is-danger">{{ error }}</p>{% endfor %}
                            </div>
                            <div class="field is-grouped is-grouped-right mt-5">
                                <div class="control">
                                    <a href="{% url 'reading-list:detail' reading_list.slug %}"
                                       class="button">Cancel</a>
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-primary">Add to List</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
