{% load thumbnail %}
{% load static %}
{% for character in characters %}
    <div class="column is-4">
        <article class="media">
            <figure class="media-left">
                <div class="image is-64x64">
                    {% if character.image %}
                        {% thumbnail character.image "64x64" crop="top" format="WEBP" as im %}
                            <img class="is-rounded"
                                 src="{{ im.url }}"
                                 width="{{ im.width }}"
                                 height="{{ im.height }}"
                                 alt="{{ character }}"
                                 loading="lazy">
                        {% endthumbnail %}
                    {% else %}
                        <img class="is-rounded"
                             src="{% static 'site/img/creator-not-found.webp' %}"
                             alt="No image for {{ character }}"
                             loading="lazy">
                    {% endif %}
                </div>
            </figure>
            <div class="media-content">
                <a href="{% url 'character:detail' character.slug %}">{{ character }}</a>
            </div>
        </article>
    </div>
{% endfor %}
<div id="characters-load-more-wrapper"
     class="has-text-centered mt-4"
     hx-swap-oob="true">
    {% if has_more %}
        <button class="button is-link"
                hx-get="{% url 'issue:characters-load-more' issue_slug %}?offset={{ next_offset }}"
                hx-target="#characters-container"
                hx-swap="beforeend"
                hx-indicator="#characters-spinner">
            <span>Load More Characters</span>
        </button>
        <span id="characters-spinner" class="htmx-indicator ml-2">
            <i class="fas fa-spinner fa-spin"></i>
        </span>
    {% endif %}
</div>
