{% load thumbnail %}
{% load static %}
{% for team in teams %}
    <div class="column is-4">
        <article class="media">
            <figure class="media-left">
                <div class="image is-64x64">
                    {% if team.image %}
                        {% thumbnail team.image "64x64" crop="center" format="WEBP" as im %}
                            <img class="is-rounded"
                                 src="{{ im.url }}"
                                 width="{{ im.width }}"
                                 height="{{ im.height }}"
                                 alt="{{ team }}"
                                 loading="lazy">
                        {% endthumbnail %}
                    {% else %}
                        <img class="is-rounded"
                             src="{% static 'site/img/creator-not-found.webp' %}"
                             alt="No image for {{ team }}"
                             loading="lazy">
                    {% endif %}
                </div>
            </figure>
            <div class="media-content">
                <a href="{% url 'team:detail' team.slug %}">{{ team }}</a>
            </div>
        </article>
    </div>
{% endfor %}
<div id="teams-load-more-wrapper"
     class="has-text-centered mt-4"
     hx-swap-oob="true">
    {% if has_more %}
        <button class="button is-link"
                hx-get="{% url 'issue:teams-load-more' issue_slug %}?offset={{ next_offset }}"
                hx-target="#teams-container"
                hx-swap="beforeend"
                hx-indicator="#teams-spinner">
            <span>Load More Teams</span>
        </button>
        <span id="teams-spinner" class="htmx-indicator ml-2">
            <i class="fas fa-spinner fa-spin"></i>
        </span>
    {% endif %}
</div>
